<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New recipe</title>
</head>

<body>
    <h1>Edit a recipe!</h1>
    <p>
        <a href="/recipes">Back to recipes</a>
    </p>
    <p>
        <a>Logout</a>
    </p>
    <form method="POST" action="/recipe/update/{{current_recipe.id}}" >
        <div>
            <label for="name">Name:</label>
            <input id="name" type="text" name="name" value="{{current_recipe.name}}" />
            {% for message in get_flashed_messages( category_filter=[ 'error_recipe_name' ] ) %}
                {{ message }}
            {% endfor %}
        </div>
        <div>
            <label>Description:</label>
            <testarea type="text" name="description">value="{{current_recipe.description}}"</testarea>
            {% for message in get_flashed_messages( category_filter=[ 'error_recipe_description' ] ) %}
                {{ message }}
            {% endfor %}
        </div>
        <div>
            <label>Instructions:</label>
            <testarea type="text" name="instructions">value="{{current_recipe.instructions}}"</testarea>
            {% for message in get_flashed_messages( category_filter=[ 'error_recipe_instructions' ] ) %}
                {{ message }}
            {% endfor %}
        </div>
        <div>
            <label for="deleted">Date cooked/made:</label>
            <input id="deleted" type="date" name="cooked_date" />
            {% for message in get_flashed_messages( category_filter=[ 'error_recipe_cooked_date' ] ) %}
                {{ message }}
            {% endfor %}
        </div>
        <div>
            <label>Under 30 minutes:</label>
            <div>
                Yes: <input placeholder="yes" type="radio" name="under_30" value="1" {% if current_recipe.under_30 == 1 %} checked {% endif %} />
                No: <input placeholder="no" type="radio" name="under_30" value="0" {% if current_recipe.under_30 == 0 %} checked {% endif %} />
            </div>
        </div>

            <button type="submit">Submit</button>
</body>
</html>





