<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojos</title>
</head>
<body>
    <!-- <form action="/dojos/create" method="post" class="col-6 mx-auto">
        <h2 class="text-center">New Dojo</h2>
        <div class="form-group">
            <label for="name" >Name: </label>
            <input id="name" type="text" name="name" class="form-control"><br><br>
        </div>
        <input type="submit" value="Create" class="btn btn-sucess">
    </form>
    <form action="/dojos/list" method="post" class="col-6 mx-auto">
        <h2 class="text-center">All Dojos</h2>
        <div class="form-group">
            <label for="name" >Name: </label>
            <input id="name type="text" name="name" class="form-control"><br><br>
        </div> -->
        <input type="submit" value="Create" class="btn btn-sucess">
    </form>
</body>
</html>


